{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<!-- home section three -->
<div class="container-fluid manageWidth">
    <div class="whitePaperMainSec">
        <img src="{% static '/assets/images/whitePageBackground.png' %}" alt="">
        <div class="whitePaperTopCont">
            <img src="{% static '/assets/images/POKEMON-PLAY-1-1024x1024.svg' %}" alt="">
            <h6>WHITEPAPER</h6>
        </div>
    </div>
    <div class="whitePaperContent">
        <div class="container">
            <h1 class="whitePaperTitle">INTRODUCTION</h1>
            <div class="whitePaperDesc">
                <p>
                    Pokemon play has been created as a user friendly based ‘play to earn’ game. This allows users to
                    earn PPC (Pokemon play coin) PPC. User’s will have the opportunity to download pokemon play to
                    android, iOS and also desktop. The contents of the game will include different levels which the
                    player must complete in order to earn their tokens. To complete each level and earn PPC tokens
                    the
                    player’s will have their own character running through different levels to collect the ‘energy
                    balls’, the player will be able to see these throughout the game, the amount of energy balls
                    collected will reflect the amount of PPC the player earns!
                </p>
                <p>
                    Once the player completes level 1 they will unlock level 2! On level 2 the player will be able
                    to
                    use their PPC tokens on accessories for their characters, this will include NFT jackets and
                    shoes
                    for the characters in the game, the pokemon play NFT jacket will have a magnetic field which
                    will
                    attract any energy balls that are nearby allowing players to collect double the amount as they
                    run
                    past! The NFT shoes will allow characters to run faster on the next levels allowing the player
                    to
                    collect energy balls at a faster pace than the previous levels. Players will also have the
                    option to
                    collect the Pokemon play ‘secret boxes’ containing a special secret surprise!
                </p>
                <p>
                    Players do not have to spend all their tokens while playing the game they will also have the
                    option
                    to swap their PPC tokens for cash via the DEX exchange platform where PPC tokens are listed,
                    Players
                    can also find PPC listed on other exchanges such as Pancake swap, Biswap and Apeswap.
                </p>
            </div>
            <div class="manageTop">
                <h1 class="whitePaperTitle">TOKENOMICS</h1>
                <div class="d-flex justify-content-center">
                    <img src="{% static '/assets/images/whiteToken.svg' %}" alt="" class="tokenImg">
                </div>
            </div>
            <div class="manageTop">
                <h1 class="whitePaperTitle">ROADMAP</h1>
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-6 pt-md-3 pt-0">
                        <div class="roadMapCard">
                            <p>
                                Q1 - Market research on how the game and token will play a role in the blockchain.
                            </p>
                            <p>
                                Q2 - Smart contract creation/ Launched to Dex Exchanges.
                            </p>
                            <p>
                                Q3 - Media and marketing for game development.
                            </p>
                            <p>
                                Q4 - Influencers and marketers promotions.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-3">
                        <div class="roadMapCard">
                            <p>
                                Q1- Smart contract integration with mobile and desktop game - completed.
                            </p>
                            <p>
                                Q2 - Marketing, promotions and partnerships.
                            </p>
                            <p>
                                Q3 - Research and marketing for game launch approach.
                            </p>
                            <p>
                                Q4 - Game release to the public on desktop a integration for users to earn while
                                they play and mobile devices with smart contract.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-3">
                        <div class="roadMapCard">
                            <p>
                                Q1-Marketing, promotions more partnerships
                            </p>
                            <p>
                                Q2 - New exchanges to list and trade PPC within their market place
                            </p>
                            <p>
                                Q3- Marketing and promotions with influencers.
                            </p>
                            <p>
                                Q4 - New levels released for the game with more interesting rewards for the users.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="{% static '/assets/images/year.svg' %}" alt="" class="yearImg">
                </div>
            </div>
            <div class="manageTop">
                <h1 class="whitePaperTitle">LEGAL DISCLAIMER</h1>
                <div class="whitePaperDesc">
                    <p>
                        This document is only used to convey the information. Participants please carefully read the
                        white paper and the official website for the relevant instructions and
                        comprehensively understand the blockchain and digital assets. Please notice the potential
                        risks and thoroughly assess your risk tolerance and situation to make rational
                        decisions.
                    </p>
                    <p>
                        This document does not constitute an offer of securities or a promotion, invitation or
                        socialisation for investment purposes. The terms of the contribution are not intended
                        to be a financial service offering document or a prospectus. The NFT offering involves and
                        releases to the development and use of the experimental platform (software) <br> and
                        technologies
                        that may not come to fruition or achieve the objectives specified in the white paper. The
                        purchase of NFTs represents a high risk to any contributor. The
                        NFTs do not represent equity, shares, units, royalties or rights to capital, profit or
                        income in the platform or software or in the entity that issues NFTs or any other company
                        or intellectual property associated with the platform or any other public or private
                        enterprise, corporation, foundation or any other entity in any jurisdiction. The NFTs do
                        not therefore represent a security or similar legal interest.

                    </p>
                    <p>
                        Nothing in this white paper shall be deemed to constitute a prospectus of any sort or a
                        investment; nor does it in any way pertain to an offering or a socialisation of an
                        offer securities in any jurisdiction. This document is not composed and is not subject to
                        any laws or regulations designed to protect investors.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}